*{
    margin: 0;
    padding: 0;
}

.superior{
    background-image: url(../images/Encabezado.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100vw 18vh;
    align-items: center;
    min-height: 90px;
    height: 18vh;
}

.inferior {
    background-image: url(../images/Pie-de-pagina.gif);
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 8.26vw;
    width: 100%;
}

.Padres ,.Padres > ul:not(.SubMenu):not(.SubMenu.active) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0% 6%;
}

.Letras ul a:hover, .exp i:hover {
    color: #4cfa63;
}


.Letras ul i[class="fa-solid fa-caret-right"]:hover{
    cursor: pointer;
}

.Letras ul div:hover {
    background-image: url("../images/bordes.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-content: center;
    text-align: center;
    height: calc(normal+normal*4);
    width: calc(normal+normal*4);
}

.Letras ul li {
    list-style: none;
    position: relative;
}

.Logo{
    position: relative;
    bottom: 4px;
    height: 20vh;
    width: 9.583vw;
    z-index: 1000;
}

.M1 {
    background-image: url("../images/SubMenu_01.gif");
    background-repeat: no-repeat;
    background-size: 9.56vw 22.58vh;
    position: absolute;
    top: 7vh;
    right: 1vw;
    height: 11vw;
    width: 9.5vw;
    display: none;
    z-index: 900;
}

.M2, .M3, .M4 {
    position: absolute;
    background-image: url("../images/SubMenu_01.gif");
    background-size: 100% 100%;
    justify-content: center;
    top: 7vh;
    z-index: 900;
    display: none;
}

.M2 {
    transform: translateX(-14.4vw);
    height: 13vw;
    width: 12vw;
}

.M3 {
    transform: translateX(-14.4vw);
    height: 10vw;
    width: 12vw;
}

.M4 {
    transform: translateX(-12.4vw);
    align-items: center;
    height: 10vw;
    width: 12vw;
}

.active, .activo {
    display: grid;
    justify-items: center;
    align-content: space-evenly;
}

.M1 > ul > li:not(.SubMenu) > a {
    line-height: 4vh;
    font-size: 1.3vw;
}

.M1 a {
    color: white;
    text-decoration: none;
}

.M2 a, .M3 a, .M4 a {
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: 'Roboto Condensed', sans-serif;
}

.doble {
    line-height: 2vh;
}

.exp i {
    color: white;
    text-transform: uppercase;
    font-size: 1.3vw;
}

.z, .m{
    text-decoration: none;
    font-family: Georgia;
    text-transform: uppercase;
    font-size: 1.3vw;
    color: white;
}

.fa-solid.fa-caret-right{
    position: relative;
    left: 1vw;
}

.M1 > ul > li:hover > .SubMenu,
.M1 > ul > li > .combo:hover + .SubMenu {
    display: grid;
}

.SubMenu{
    position: absolute;
    transform: translateX(6vw);
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("../images/SubMenu_00.gif");
    background-repeat: no-repeat;
    background-size: 8vw 14vh;
    width: 8vw;
    height: 14vh;
    z-index: 1000;
    display: none;
    line-height: 2.8vh;
    justify-items: center;
    align-content: center;
    margin: -3vh 0;
}

.SubMenu a{
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
}

.OpenSub:hover + .SubMenu, .combo:hover + .SubMenu {
    display: grid;
}

.exp,.Logo{
    margin-right: 3.3vw;
}

.exp:hover {
    background-image: url("../images/bordes.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}

