*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/Fondo.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.superior{
    background-image: url(../images/Encabezado.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100vw 18vh;
    align-items: center;
    min-height: 90px;
    height: 18vh;
}

.inferior {
    background-image: url(../images/Pie-de-pagina.gif);
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 8.26vw;
    width: 100%;
}

a[class="z"], a[class="bton z"], .m, i{
    text-decoration: none;
    font-family: Georgia;
    text-transform: uppercase;
    font-size: 1.3vw;
    color: white;
}

.Letras ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0% 6%;
}

.Letras ul li {
    list-style: none;
    position: relative;
}

.Logo{
    position: relative;
    bottom: 4px;
    height: 20vh;
    width: 9.583vw;
    z-index: 1000;
}


.M1 {
    background-image: url("../images/SubMenu_01.gif");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 7vh;
    right: 1vw;
    padding: 12px;
    height: 11vw;
    width: 10vw;
    border: none;
    display: none;
    z-index: 1000;
}

.M2{
    position: absolute;
    background-image: url("../images/SubMenu_01.gif");
    background-size: 100% 100%;
    transform: translateX(-16vw);
    height: 11vw;
    width: 12vw;
    top: 7vh;
    z-index: 1000;
    display: none;
}

.active, .activo {
    display: block;
}

.M1 li, .M2 li{
    margin-bottom: 10px;
    top: 1vw;
    list-style: none;
}

.M1 a, .M2 a{
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.M1 ul, .M2 ul {
    display: flex;
    flex-direction: column;
}

i[class="fa-cart-shopping fa-user"], i[class="fa-solid fa-caret-right"] {
    color: white;
}

a:hover, i[class="fa-cart-shopping fa-user"], i[class="fa-solid fa-caret-right"]:hover {
    color: #4cfa63;
}

i[class="fa-solid fa-caret-right"]:hover{
    cursor: pointer;
}

.SubMenu{
    padding: 1.5vw 1.5vh;
    position: relative;
    bottom: 1vw;
    font-size: 1vw;
    transform: translateX(9.583vw);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/SubMenu_00.gif");
    background-repeat: no-repeat;
    background-size: 10vw 18.27vh;
    width: 10vw;
    height: 18.27vh;
    display: none;
}

.SubMenu li{
    list-style: none;
}

.SubMenu a{
    color: white;
    text-decoration: none;
}

.SubMenu a:hover{
    color: #4cfa63;
}

.OpenSub:hover{
    display: block;

}
.exp,.Logo{
    margin-right: 3.3vw;
}

.exp:hover {
    background-image: url("../images/bordes.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}

.Letras ul div:hover {
    background-image: url("../images/bordes.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-content: center;
    text-align: center;
    height: calc(normal+normal*4);
    width: calc(normal+normal*4);
}

