<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../Css/Footer.css">
    <script src="https://kit.fontawesome.com/b59d19b6f4.js" crossorigin="anonymous"></script>
</head>
<body>
    
<footer>
    <div class="footer">
        <div class="container">
            <div class="footer-info">
                <div class="address-left agileinfo">
                    <div class="footer-logo header-logo">
                    <ul>
                        <li><i class="fa fa-map-marker"></i> 123 San Sebastian, Bogotá Colombia.</li>
                        <li><i class="fa fa-mobile"></i> 333 222 3333 </li>
                        <li><i class="fa fa-phone"></i> +222 11 4444 </li>
                        <li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@whimcy.com</a></li>
                    </ul>
                    </div> 
                </div>
                <div class="col-md-8 address-right">
                    <div class="col-md-4 footer-grids">
                        <h3>Compañia</h3>
                        <ul>
                            <li><a href="about.html">Sobre Nosotros</a></li>
                            <li><a href="marketplace.html">Mercado</a></li>  
                            <li><a href="values.html">Nuestros Valores</a></li>  
                            <li><a href="privacy.html">Politica de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grids">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Contactenos</a></li>
                            <li><a href="login.html">Regresar</a></li> 
                            <li><a href="faq.html">Restaurantes</a></li>
                            <li><a href="Mapa.html">Zonas</a></li>
                            <li><a href="login.html">Estado de orden</a></li>
                        </ul> 
                    </div>
                    <div class="col-md-4 footer-grids h">
                        <h3>Metodos de pago</h3>
                        <ul>
                            <li><i class="fa fa-laptop" aria-hidden="true"></i> Nequi</li>
                            <li><i class="fa fa-money" aria-hidden="true"></i> En efectivo</li>
                            <li><i class="fa fa-pie-chart" aria-hidden="true"></i>Daviplata</li>
                            <li><i class="fa fa-gift" aria-hidden="true"></i> PSE</li>
                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> Trageta Dedito/Credito</li>
                        </ul>  
                    </div>
                    <div>
                </div>
                <div>
            </div>
        </div>
    </div>
</footer>
    
</body>
</html>