<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whimcy</title>
    <link rel="stylesheet" href="../Css/Estilos.css">
    <script src="https://kit.fontawesome.com/b59d19b6f4.js" crossorigin="anonymous"></script>
</head>
<body>
    <Div>
        <header class="superior">
            <nav class="Letras">
                <table>
                    <td><a href="">Menú</a></td>
                    <td><a href="">Promociones</a></td>
                    <td>
                        <a href=""></a><i style="color: white; position: relative; right: 3.5vw;" class="fa-solid fa-cart-shopping fa-xl"></i></a>
                    </td>
                    <td><img src="../images/Logotipo.gif" class="Logo", width="48%"></td>
                    <td>
                        <a href="" ></a><i style="color: white; position: relative; right: 3.5vw;" class="fa-solid fa-user fa-xl"></i></a>
                    </td>
                    <td><a href="">Restaurantes</a></td>
                    <td><a href="">Adicional</a></td>
                </table>
            </nav>
           
            
            
        </header>
        <div>
            

        </div>








    </div>
    <div class="inferior">
        <footer>
        
        </footer>
    </div>
</body>
</html>