<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="es">
<head>
<title>Iniciar sesion</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Bazaar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../Css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../Css/style.css" rel="stylesheet" type="text/css" media="all" /> 
<link href="../Css/animate.min.css" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
<link href="../Css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->   
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="../Css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="https://kit.fontawesome.com/b59d19b6f4.js"></script> 
<script src="../JS/jquery-2.2.3.min.js"></script> 
<script src="../JS/jquery-scrolltofixed-min.js" type="text/javascript"></script><!-- fixed nav js -->
<script>
    $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

        $('.header-two').scrollToFixed();  
        // previous summary up the page.

        var summaries = $('.summary');
        summaries.each(function(i) {
            var summary = $(summaries[i]);
            var next = summaries[i + 1];

            summary.scrollToFixed({
                marginTop: $('.header-two').outerHeight(true) + 10, 
                zIndex: 999
            });
        });
    });
</script>
<!-- //js --> 
<!-- web-fonts -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'> 
<!-- web-fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="../JS/move-top.js"></script>
<script type="text/javascript" src="../JS/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
</head>
<body>
	<!-- header -->
	<div class="header">	</div>
		<div class="header-three"><!-- header-three -->
			<div class="container">
				<div class="menu">
					<div class="cd-dropdown-wrapper">
						<a class="cd-dropdown-trigger" href="#0">Tienda</a>
						<nav class="cd-dropdown"> 
							<a href="#0" class="cd-close">Cerrar</a>
							<ul class="cd-dropdown-content">
								<li class="has-children">
									<a href="#">Menús</a> 
									<ul class="cd-secondary-dropdown is-hidden">
										<li class="go-back"><a href="#">Menús</a></li>
										<li class="see-all"><a href="products.php">Productos</a></li>
										<li class="main"><a href="products.php">Pedir</a></li>
										<li><a href="products.php?category=Top">Top</a></li>
										<li class="has-children">
											<a href="#">Combos</a>  
											<ul class="is-hidden"> 
												<li class="go-back"><a href="#">Productos </a></li>
												<li><a href="products.php?category=combos">Categorias</a></li>
												<li><a href="#">Definidos</a></li>
												<li><a href="#">Cartas</a></li>
											</ul>
										<li><a href="Favoritos.php">Favoritos</a></li>
										</li> 
									</ul> <!-- .cd-secondary-dropdown -->
								<li class="has-children">
									<a href="#">Promociones</a> 
									<ul class="is-hidden"> 
										<li class="go-back"><a href="#">Promociones </a></li>
										<li><a href="offers.html">Fechas</a></li> 
										<li><a href="ocations.html?normalDay=1">Para Año Nuevo</a></li>
										<li><a href="ocations.html">Ocaciones especiales</a></li>
									</ul>
								</li> 
								<li class="has-children">
									<a href="#">Restaurantes</a> 
									<ul class="is-hidden"> 
										<li class="go-back"><a href="#">Restaurantes </a></li>
										<li><a href="#" class="links" data-section="Seccion1">Mapa</a></li>
										<li><a href="#" class="links" data-section="Restaurante">Todos</a></li>
										<li><a href="#" class="links" data-section="Seccion01">Mi Zona</a></li>
										<li><a href="#" class="links" data-section="Seccion2">Ubicación</a></li>
										<li><a href="#" class="links" data-section="Seccion3">Reservación</a></li>
									</ul>
								</li> 
								<li class="has-children">
									<a href="#">Adicional</a> 
									<ul class="is-hidden">
										<li class="go-back"><a href="#0">Adicional </a></li>
										<li><a href="Recetas.php">Mis Menús</a></li>
										<li><a href="forums.html">Comunidad</a></li>
										<li><a href="#">Amigos</a></li>
									</ul>
								</li> 
							</ul> <!-- .cd-dropdown-content -->
						</nav> <!-- .cd-dropdown -->
					</div> <!-- .cd-dropdown-wrapper -->	 
				</div>
				<div class="move-text">
					<div class="marquee"><a href="offers.html"> Nuevos menús para fechas especiales...... <span>Obten un 10% de descuento | sin tarifas extra </span> <span> Disfruta de tus menus favoritos para cada ocación</span></a></div>
					<script type="text/javascript" src="../JS/jquery.marquee.min.js"></script>
					<script>
					  $('.marquee').marquee({ pauseOnHover: true });
					  //@ sourceURL=pen.js
					</script>
				</div>
			</div>
		</div>
	</div>
	<!-- //header --> 	
	<!-- login-page -->
	<div class="Fondo-body">
	<div class="login-page">
		<div class="container"> 
			<h3 class="w3ls-title w3ls-title1">Iniciar sesion</h3>  
			<div class="login-body">
				<form action="../Controllers/LogIn.php" method="post">
					<input type="text" class="user" name="Email" placeholder="Ingresa tu Email" required="">
					<input type="password" name="Pass" class="lock" placeholder="Contraseña" required="">
					<input type="submit" value="Ingresar">
					<div class="forgot-grid">
						<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Recordarme</label>
						<div class="forgot">
							<a href="PasswordA.php">¿Contraseña Olvidada?</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</form>
			</div>  
			<h6> Sin cuenta? <a href="Registro.php">Unirse ahora »</a> </h6> 
			<div class="login-page-bottom social-icons">
				<h5>Cuentas sociales</h5>
				<ul>
					<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
					<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
					<li><a href="#" class="fa fa-rss icon rss"> </a></li> 
				</ul> 
			</div>
		</div>
	</div>
	<!-- //login-page --> 
	<!-- footer-top -->
</div>
	<!-- //subscribe --> 
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-info w3-agileits-info">
				<div class="col-md-4 address-left agileinfo">
					<div class="footer-logo header-logo">
					<ul>
						<li><i class="fa fa-map-marker"></i> 123 San Sebastian, Bogotá Colombia.</li>
						<li><i class="fa fa-mobile"></i> 333 222 3333 </li>
						<li><i class="fa fa-phone"></i> +222 11 4444 </li>
						<li><i class="fa fa-envelope-o"></i> <a href="mailto:mail@whimcy.com"> mail@whimcy.com</a></li>
					</ul>
					</div> 
				</div>
				<div class="col-md-8 address-right">
					<div class="col-md-4 footer-grids">
						<h3>Compañia</h3>
						<ul>
							<li><a href="about.html">Sobre Nosotros</a></li>
							<li><a href="marketplace.html">Mercado</a></li>  
							<li><a href="values.html">Nuestros Valores</a></li>  
							<li><a href="privacy.html">Politica de privacidad</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Servicios</h3>
						<ul>
							<li><a href="#">Contactenos</a></li>
							<li><a href="login.html" onclick="redirigirLogin(event)">Regresar</a></li> 
							<li><a href="Mapa.html">Restaurantes</a></li>
							<li><a href="Mapa.html#Seccion01">Zonas</a></li>
							<li><a href="login.html" onclick="redirigirLogin(event)">Estado de orden</a></li>
						</ul> 
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Metodos de pago</h3>
						<ul>
							<li><i class="fa fa-laptop" aria-hidden="true"></i> Nequi</li>
							<li><i class="fa fa-money" aria-hidden="true"></i> En efectivo</li>
							<li><i class="fa fa-pie-chart" aria-hidden="true"></i>Daviplata</li>
							<li><i class="fa fa-gift" aria-hidden="true"></i> PSE</li>
							<li><i class="fa fa-credit-card" aria-hidden="true"></i> Trageta Dedito/Credito</li>
						</ul>  
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	
	<!-- //footer -->		
	<div class="copy-right"> 
		<div class="container">
			<p>© 2016 Smart bazaar . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
		</div>
	</div> 
	<style>
		.address-left {
		 right: 2.5vw
		}
		.form-control {
		 display: unset;
		 width: unset;
		 height: unset;
		}
		.footer-info.w3-agileits-info {
		 overflow: hidden;
		 max-height: 15em;
		}
		@media (max-width: 400px) {
			.address-left {
			 top: -26px;
			}
			.footer-grids {
			 padding: 1em 0 0;
			}
		}
	</style>
	<!-- cart-js -->
	<script src="../JS/minicart.js"></script>
	<script src="../JS/StartCart.js"></script>  
	<!-- //cart-js --> 
	 <!-- submenus -->
	<script src="../JS/SubMenus.js"></script>
	<script src="../JS/Assest/sessionManager.js"></script>
	<!-- menu js aim -->
	<script src="../JS/jquery.menu-aim.js"> </script>
	<script src="../JS/main.js"></script> <!-- Resource jQuery -->
	<!-- //menu js aim --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../JS/bootstrap.js"></script>
	<!-- Importar el Menu /HTML -->
	<script>
		document.addEventListener("DOMContentLoaded", async () => {
			try {
				const response = await fetch("/whimcy/Views/Menu.php");
				if (!response.ok) throw new Error("Error al cargar Menu.php");

				const html = await response.text();
				document.querySelector(".header").innerHTML = html;
				
				// Activar scripts del menú
				if (typeof inicializarHeaderNav === "function") inicializarHeaderNav();
				if (typeof inicializarLogin === "function") inicializarLogin();
				setTimeout(() => {
					if (typeof StartCart === "function") StartCart();
				}, 200);

			} catch (err) {
				console.error(err);
			}
		});
	</script>
	<!-- Enlaces dinamicos/ Movil -->
	<script>
		function redirigirLogin(e) { 

        if (window.matchMedia("(max-width: 400px)").matches) {
			e.preventDefault();
            window.location.href = "Mobile/Inicio.php";
        } else {
            window.location.href = "login.html";
        }
    }
    </script> 
</body>
</html>