<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="es">
<head>
<title>Mapa</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Bazaar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../Css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../Css/style.css" rel="stylesheet" type="text/css" media="all" /> 
<link href="../Css/animate.min.css" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
<link href="../Css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
<script src="https://kit.fontawesome.com/b59d19b6f4.js"></script>  
<link href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/css/lightbox.min.css" rel="stylesheet">  
<!-- //Custom Theme files -->
  <!-- Ocultar menú movil -->
  <style>
	#menu-toggle {
		display: none !important;
	}
  </style>
<!-- font-awesome icons -->
<link href="../Css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="../JS/jquery-2.2.3.min.js"></script> 
<script src="../JS/jquery-scrolltofixed-min.js" type="text/javascript"></script><!-- fixed nav js -->
<script>
    $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

        $('.header-two').scrollToFixed();  
        // previous summary up the page.

        var summaries = $('.summary');
        summaries.each(function(i) {
            var summary = $(summaries[i]);
            var next = summaries[i + 1];

            summary.scrollToFixed({
                marginTop: $('.header-two').outerHeight(true) + 10, 
                zIndex: 999
            });
        });
    });
</script>
<!-- //js --> 
<!-- web-fonts -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'> 
<!-- web-fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="../JS/move-top.js"></script>
<script type="text/javascript" src="../JS/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
	$(document).ready(function() {
	
		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
		};
		
		$().UItoTop({ easingType: 'easeOutQuart' });
		
	});
</script>
<!-- //smooth-scrolling-of-move-up -->
</head>
<body>
	<!-- header -->
	<div class="header">	</div>
		<div class="header-three"><!-- header-three -->
			<div class="container">
				<div class="menu">
					<div class="cd-dropdown-wrapper">
						<a class="cd-dropdown-trigger" href="#0">Tienda</a>
						<nav class="cd-dropdown"> 
							<a href="#0" class="cd-close">Cerrar</a>
							<ul class="cd-dropdown-content">
								<li class="has-children">
									<a href="#">Menús</a> 
									<ul class="cd-secondary-dropdown is-hidden">
										<li class="go-back"><a href="#">Menús</a></li>
										<li class="see-all"><a href="products.php">Productos</a></li>
										<li class="main"><a href="products.php">Pedir</a></li>
										<li><a href="products.php?category=Top">Top</a></li>
										<li class="has-children">
											<a href="#">Combos</a>  
											<ul class="is-hidden"> 
												<li class="go-back"><a href="#">Productos </a></li>
												<li><a href="products.php?category=combos">Categorias</a></li>
												<li><a href="#">Definidos</a></li>
												<li><a href="#">Cartas</a></li>
											</ul>
										<li><a href="offers.html">Favoritos</a></li>
										</li> 
									</ul> <!-- .cd-secondary-dropdown -->
								<li class="has-children">
									<a href="#">Promociones</a> 
									<ul class="is-hidden"> 
										<li class="go-back"><a href="#">Promociones </a></li>
										<li><a href="offers.html">Fechas</a></li> 
										<li><a href="#">Para Año Nuevo</a></li>
										<li><a href="#">Ocaciones especiales</a></li>
									</ul>
								</li> 
								<li class="has-children">
									<a href="#">Restaurantes</a> 
									<ul class="is-hidden"> 
										<li class="go-back"><a href="#">Restaurantes </a></li>
										<li><a href="#" class="links" data-section="Seccion1">Mapa</a></li>
										<li><a href="#" class="links" data-section="Restaurante">Todos</a></li>
										<li><a href="#" class="links" data-section="Seccion01">Mi Zona</a></li>
										<li><a href="#" class="links" data-section="Seccion2">Ubicación</a></li>
										<li><a href="#" class="links" data-section="Seccion3">Reservación</a></li>
									</ul>
								</li> 
								<li class="has-children">
									<a href="#">Adicional</a> 
									<ul class="is-hidden">
										<li class="go-back"><a href="#0">Adicional </a></li>
										<li><a href="#">Facturas pendientes</a></li>
										<li><a href="forums.html">Comunidad</a></li>
										<li><a href="#">Amigos</a></li>
									</ul>
								</li> 
							</ul> <!-- .cd-dropdown-content -->
						</nav> <!-- .cd-dropdown -->
					</div> <!-- .cd-dropdown-wrapper -->	 
				</div>
				<div class="move-text">
					<div class="marquee"><a href="offers.html"> Nuevos menús para fechas especiales...... <span>Obten un 10% de descuento | sin tarifas extra </span> <span> Disfruta de tus menus favoritos para cada ocación</span></a></div>
					<script type="text/javascript" src="../JS/jquery.marquee.min.js"></script>
					<script>
					  $('.marquee').marquee({ pauseOnHover: true });
					  //@ sourceURL=pen.js
					</script>
				</div>
			</div>
		</div>
	</div>
	<!-- //header --> 	
	<!-- Restaurant-page -->
	<div class="Fondo-body">
	<div class="contact">
		<div class="container"> 
			<h3 class="w3ls-title w3ls-title1" id="Restaurante">Restaurantes</h3> 
			<div class="info-restaurant">
				<div class="img-restaurant">
					<a href="../images/3.jpg" data-lightbox="galeria" data-title="Exito">
						<img src="../images/3.jpg" alt="Imagen" width="400" style="height:170px;">
					</a>
					<a href="../images/R4.png" data-lightbox="galeria" data-title="Merqueo">
						<img src="../images/R4.png" alt="Imagen" width="400" style="height:170px;">
					</a>
					<a href="../images/R5.jpg" data-lightbox="galeria" data-title="Foody">
						<img src="../images/R5.jpg" alt="Imagen" width="400" style="height:170px;">
					</a>
					<a href="../images/R3.jpg" data-lightbox="galeria" data-title="D Palos">
						<img src="../images/R3.jpg" alt="Imagen" width="400" style="height:170px;">
					</a>
					<a href="../images/R6.png" data-lightbox="galeria" data-title="Bar Continental">
						<img src="../images/R6.png" alt="Imagen" width="400" style="height:170px;">
					</a>
					<a href="../images/R1.jpg" data-lightbox="galeria" data-title="Mc'Donals">
						<img src="../images/R1.jpg" alt="Imagen" width="400" style="height:170px;">
					</a>
				</div>
				<div class="par-restaurant">
					<p class="R1">
						Exito: Uno de los mejores hipermercados en la ciudad, donde tambien tienes la opción de 
						disfrutar de almuerzos preparados que te brindan una solución si no tienes tiempo!
						<ul class="columns">
							<li class="column">Avenida Las Vegas Envigado</li>
							<li class="column">Carrera 48 # 32B Sur 219 </li>
							<li class="column">Teléfono: 3054829046</li>
							<li class="column">Paga en línea o en efectivo</li>
							<li class="column">Mercado y alimentos</li>
							<li class="column"><a href="https://www.exito.com/compra-y-recoge-domicilio" target="_blank">Más detalles</a></li>
						</ul>
					</p>
					<p class="R2">
						Merqueo: Tu supermercado online donde ahorras tiempo y dinero Bogotá D.C, Colombia, 
						programa el horario de entrega en su franja de preferencia y selecciona el método de pago 
						deseado.
						<ul class="columns">
							<li class="column">Paga en línea o en efectivo</li>
							<li class="column">(+571) 5404058</li>
							<li class="column">Carrera 116 # 19a-51 </li>
							<li class="column">Mercado y alimentos</li>
							<li class="column"><a href="https://merqueo.com/" target="_blank">Más detalles</a></li>
						</ul>
					</p>
					<p class="R3">
						Foody: Descubre el sabor del bienestar, almuerza saludable, fácil y a un precio justo.
						Crea tu cuenta y gana 50% de CASHBACK en tu primer pedido!
						<ul class="columns">
							<li class="column">Paga en línea o en efectivo</li>
							<li class="column">Teléfono: 3503416479</li>
							<li class="column">Cl. 196b #20-91 </li>
							<li class="column">Alimentos</li>
							<li class="column"><a href="https://www.foody.com.co/" target="_blank">Más detalles</a></li>
						</ul>
					</p>
					<p class="R3">
						D Palos: Somos una cadena de restaurantes especializado en comida típica colombiana y 
						carne a la llanera. Encuentranos en Bogota, Melgar y Tolemaida.
						<ul class="columns">
							<li class="column">Antonio Nariño</li>
							<li class="column">Teléfono: 321 4926609</li>
							<li class="column">Cl. 31 Sur #69B </li>
							<li class="column">Alimentos y cena</li>
							<li class="column"><a href="https://www.tripadvisor.co/Restaurant_Review-g294074-d14799994-Reviews-D_Palos_Restaurante-Bogota.html" target="_blank">Más detalles</a></li>
						</ul>
					</p>
					<p class="R4">
						Bar Continental: Bar Continental es la conjunción de todo lo que nos hace caribe, salseros, mulatos y 
						con un paladar por el buen ron, cócteles, comida y más. Una joya del caribe escondida en el corazón de 
						Chapinero.
						<ul class="columns">
							<li class="column">Chapinero</li>
							<li class="column">Teléfono: 315 7779319</li>
							<li class="column">Cra. 8 #66-18 </li>
							<li class="column">Alimentos y cena</li>
							<li class="column"><a href="https://www.barcontinental.com" target="_blank">Más detalles</a></li>
						</ul>
					</p>
					<p class="R5" id="Mc">
						Mc'Donals: La reconocida empresa de alimentos en muchas sedes de Bogota. 
						Entra ya al sitio de McDonald's y enterate de todo lo nuevo que tenemos para vos este mes!
						<ul class="columns">
							<li class="column">Paga en línea o en efectivo</li>
							<li class="column">Teléfono: 311 2030000</li>
							<li class="column">Calle 116 # 7–15 oficina 1402 </li>
							<li class="column">Alimentos y cena</li>
							<li class="column"><a href="https://www.mcdonalds.com.co/" target="_blank">Más detalles</a></li>
						</ul>
					</p>
				</div>
			</div> 
			<div class="map-info">
				<div class="col-md-6 map-grids" id="Seccion1">
					<h4>Mapa</h4>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16257412.786801783!2d-85.00768462275919!3d5.84224481379147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e15a43aae1594a3%3A0x9a0d9a04eff2a340!2sColombia!5e0!3m2!1ses-419!2sco!4v1716071742884!5m2!1ses-419!2sco" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="col-md-6 map-grids" id="Seccion01">
					<h4>Mi Zona</h4>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d179966.52816042752!2d-74.13309957275897!3d4.641111119361823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses-419!2sco!4v1716072554393!5m2!1ses-419!2sco" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div> <!--   Debe activarse Geolocalización  -->
				<div class="col-md-6 map-grids" id="Seccion2">
					<h4>Ubicaciónes</h4>
					<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3976.9372521103273!2d-74.19025192429062!3d4.60525754247606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRestaurantes!5e0!3m2!1ses-419!2sco!4v1716072757966!5m2!1ses-419!2sco" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>   
				<div class="col-md-6 map-grids" id="Seccion3">
					<h4>Lugares de reserva</h4>
					<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7293.281173418561!2d-74.05994443591335!3d4.649298763388072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sBares%20y%20restaurantes%20bogota!5e0!3m2!1ses-419!2sco!4v1716506238580!5m2!1ses-419!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div> 
				<div class="clearfix"> </div>
			</div>  
			<div class="contact-form-row">
				<h3 class="w3ls-title w3ls-title1 title2">Realizar Reservación</h3>  
				<div class="col-md-7 contact-left">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="">
						<input class="email" type="text" name="Email" placeholder="Email" required="">
						<textarea placeholder="Message" name="Message" required=""></textarea>
						<input type="submit" value="Reservar">
					</form>
				</div> 
				<div class="col-md-4 contact-right">
					<div class="cnt-w3agile-row">
						<div class="col-md-3 contact-w3icon">
							<i class="fa fa-truck" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 contact-w3text">
							<p>Manage Your Orders <br>Easily Track Orders & Returns </p> 
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="cnt-w3agile-row cnt-w3agile-row-mdl">
						<div class="col-md-3 contact-w3icon">
							<i class="fa fa-bell" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 contact-w3text">
							<p>Notifications <br>Get Relevant Alerts & Recommendations</p> 
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="cnt-w3agile-row">
						<div class="col-md-3 contact-w3icon">
							<i class="fa fa-heart" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 contact-w3text">
							<p>Requirements<br> With Wishlists, Reviews, Ratings</p> 
						</div>
						<div class="clearfix"> </div>
					</div>
				</div> 
				<div class="clearfix"> </div>	
			</div>
		</div>
	</div>
	</div>
	<!-- //contact-page --> 
	<!-- footer-top -->
	<div class="w3agile-ftr-top">
		<div class="container">
			<div class="ftr-toprow">
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>DOMICILIO GRATIS</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
					</div> 
					<div class="clearfix"> </div>
				</div> 
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>CUIDADO DEL CLIENTE</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>BUENA CALIDAD</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer-top -->  
	<!-- subscribe -->
	<div class="subscribe"> 
		<div class="container">
			<div class="col-md-6 social-icons w3-agile-icons">
				<h4>Mantenerse en contacto</h4>  
				<ul>
					<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
					<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
					<li><a href="#" class="fa fa-rss icon rss"> </a></li> 
				</ul>
				<ul class="apps"> 
					<li><h4>Descarga nuestra App : </h4> </li>
					<li><a href="#" class="fa fa-apple"></a></li>
					<li><a href="#" class="fa fa-windows"></a></li>
					<li><a href="#" class="fa fa-android"></a></li>
				</ul>
			</div> 
			<div class="col-md-6 subscribe-right">
				<h4>Sign up for email and get 25%off!</h4> 
				<form action="#" method="post"> 
					<input type="text" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
				</form>
				<div class="clearfix"> </div> 
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //subscribe --> 
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-info w3-agileits-info">
				<div class="col-md-4 address-left agileinfo">
					<div class="footer-logo header-logo">
					<ul>
						<li><i class="fa fa-map-marker"></i> 123 San Sebastian, Bogotá Colombia.</li>
						<li><i class="fa fa-mobile"></i> 333 222 3333 </li>
						<li><i class="fa fa-phone"></i> +222 11 4444 </li>
						<li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@tastely.com</a></li>
					</ul>
					</div> 
				</div>
				<div class="col-md-8 address-right">
					<div class="col-md-4 footer-grids">
						<h3>Compañia</h3>
						<ul>
							<li><a href="about.html">Sobre Nosotros</a></li>
							<li><a href="marketplace.html">Mercado</a></li>  
							<li><a href="values.html">Nuestros Valores</a></li>  
							<li><a href="privacy.html">Politica de privacidad</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Servicios</h3>
						<ul>
							<li><a href="#">Contactenos</a></li>
							<li><a href="login.html" onclick="redirigirLogin(event)">Regresar</a></li> 
							<li><a href="Mapa.html">Restaurantes</a></li>
							<li><a href="Mapa.html">Zonas</a></li>
							<li><a href="#">Estado de orden</a></li>
						</ul> 
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Metodos de pago</h3>
						<ul>
							<li><i class="fa fa-laptop" aria-hidden="true"></i> Nequi</li>
							<li><i class="fa fa-money" aria-hidden="true"></i> En efectivo</li>
							<li><i class="fa fa-pie-chart" aria-hidden="true"></i>Daviplata</li>
							<li><i class="fa fa-gift" aria-hidden="true"></i> PSE</li>
							<li><i class="fa fa-credit-card" aria-hidden="true"></i> Trageta Dedito/Credito</li>
						</ul>  
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer -->		
	<div class="copy-right"> 
		<div class="container">
			<p>© 2016 Smart bazaar . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
		</div>
	</div> 
	<!-- cart-js -->
	<script src="../JS/minicart.js"></script> 
	<script src="../JS/StartCart.js"></script>
	<!-- //cart-js -->
	<!-- menu js aim -->
	<script src="../JS/jquery.menu-aim.js"> </script>
	<script src="../JS/main.js"></script> <!-- Resource jQuery -->
	<!-- //menu js aim --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Importantes -->
	<script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/js/lightbox.min.js"></script> <!-- Zoom imagenes -->
    <script src="../JS/bootstrap.js"></script>
	<script src="../JS/SubMenus.js"></script>
	<script src="../JS/Assest/sessionManager.js"></script>
	<!-- checar hash -->
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		const hash = window.location.hash;
	
		if (hash) {
			setTimeout(() => {
				const targetSection = document.querySelector(hash);
				if (targetSection) {
					targetSection.scrollIntoView({ behavior: 'smooth' });
				}
			}, 1000);
		}
	});
	</script>
	<!-- Importar el Menu /HTML -->
	<script>
		document.addEventListener("DOMContentLoaded", async () => {
			try {
				const response = await fetch("/whimcy/Views/Menu.php");
				if (!response.ok) throw new Error("Error al cargar Menu.php");

				const html = await response.text();
				document.querySelector(".header").innerHTML = html;
				
				// Activar scripts del menú
				if (typeof inicializarHeaderNav === "function") inicializarHeaderNav();
				if (typeof inicializarLogin === "function") inicializarLogin();
				setTimeout(() => {
					if (typeof StartCart === "function") StartCart();
				}, 200);

			} catch (err) {
				console.error(err);
			}
		});
	</script>
	<!-- Enlaces dinamicos/ Movil -->
	<script>
		function redirigirLogin(e) { 

        if (window.matchMedia("(max-width: 400px)").matches) {
			e.preventDefault();
            window.location.href = "Mobile/Inicio.php";
        } else {
            window.location.href = "login.html";
        }
    }
    </script>
</body>
</html>