<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../Css/Estilos.css">
    <script src="https://kit.fontawesome.com/b59d19b6f4.js" crossorigin="anonymous" rel="stylesheet"></script>
</head>
<body>
<header>
    <div class="superior">
        <nav class="Letras">
            <ul class="Padres">
                <div><li><a href="" class="bton z">Menú</a></li></div>
                <li>
                    <span class="M1">
                        <ul class="active">
                            <li><a href="products.html" class="links">Pedir</a></li>   
                            <li><a href="#" class="links">Top</a></li>
                            <li>
                            <a href="" class="combo">Combos<i class="fa-solid fa-caret-right OpenSub"></i></a>
                                <ul class="SubMenu">
                                    <li><a href="#" class="links">Categorias</a></li>   
                                    <li><a href="#" class="links">Definidos</a></li>
                                    <li><a href="#">Cartas</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="links">Favoritos</a></li>
                        </ul>
                    </span>
                </li>
                <div><li><a href="" class="z m">Promociones</a></li></div>
                <li>
                    <span class="M2">
                        <ul class="activo">
                            <li><a href="#" class="links">Fechas</a></li>   
                            <li><a href="#" class="doble">Para <br>Año Nuevo</a></li>
                            <li><a href="#" class="doble">Ocaciones <br>especiales</a></li>
                        </ul>
                    </span>
                </li>
                <li><a href="" class="exp"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="Index.html"><img src="../images/Logotipo.gif" class="Logo"></a></li>
                <li><a href="Registro.php" class="exp"><i class="fa-solid fa-user"></i></a></li>
                <div><li><a href="" class="z r">Restaurantes</a></li></div>
                    <li>
                        <span class="M3">
                            <ul class="active">
                                <li><a href="#" class="links">Mapa</a></li>   
                                <li><a href="#" class="links">Mi Zona</a></li>
                                <li><a href="#">Ubicación</a></li>
                                <li><a href="#">Reservación</a></li>
                            </ul>
                        </span>
                    </li>
                <div><li><a href="" class="z ad">Adicional</a></li></div>
                <li>
                    <span class="M4">
                        <ul class="activo">
                            <li><a href="#" class="doble">Facturas<br>Pendientes</a></li>   
                            <li><a href="#" class="links">Comunidad</a></li>
                            <li><a href="#">Amigos</a></li>
                        </ul>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</header>
<script src="../JS/SubMenus.js"></script>
</body>
</html>
