<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../Css/Estilos.css">
    <script src="https://kit.fontawesome.com/b59d19b6f4.js" crossorigin="anonymous" rel="stylesheet"></script>
</head>
<body>
<header>
    <div class="superior">
    <nav class="Letras">
        <table>
            <tr>
                <td class="exp"><a href=""class="bton">Menú</a></div></td>
                <td class="z"><a href="">Promociones</a></td>
                <td class="exp">
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </td>
                <td><a href="Index.html"><img src="../images/Logotipo.gif" class="Logo", width="53%"></a></td>
                <td class="exp">
                    <a href="Registro.php"><i class="fa-solid fa-user"></i></a>
                </td>
                <td class="z"><a href="">Restaurantes</a></td>
                <td class="z"><a href="">Adicional</a></td>
            </tr>
        </table>
    </nav>
    <div class="Menus">
    <nav class="M1 active">
        <ul>
            <li><a href="#" class="links">Pedir</a></li>   
            <Li><a href="#" class="links">Top</a></li>
            <li><a href="">Combos </a><i class="fa-solid fa-caret-right"></i></li>
            <li><a href="#" class="links">Favoritos</a></li>
        </ul>
    </nav>
    <nav class="M2">
        <ul>
            <li><a href="#" class="links">Fechas</a></li>   
            <Li><a href="#" class="links">Para <br>Año Nuevo</a></li>
            <li><a href="#">Ocaciones <br>especiales</a></li>
        </ul>
    </nav>
    <nav class="SubMenu">
        <ul>
            <li><a href="#" class="links">Categorias</a></li>   
            <Li><a href="#" class="links">Definidos</a></li>
            <li><a href="#">Cartas</a></li>
        </ul>
    </nav>
</div>
    </div>
</header>
<script>src="SubMenus.js"</script>
</body>
</html>