<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="es">
<head>
<title>Ofretas actuales</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Bazaar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../Css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../Css/style.css" rel="stylesheet" type="text/css" media="all" /> 
<link href="../Css/animate.min.css" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
<link href="../Css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->  
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
 <script src="https://kit.fontawesome.com/b59d19b6f4.js"></script> 
<link href="../Css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="../JS/jquery-2.2.3.min.js"></script> 
<script src="../JS/jquery-scrolltofixed-min.js" type="text/javascript"></script><!-- fixed nav js -->
<script>
    $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

        $('.header-two').scrollToFixed();  
        // previous summary up the page.

        var summaries = $('.summary');
        summaries.each(function(i) {
            var summary = $(summaries[i]);
            var next = summaries[i + 1];

            summary.scrollToFixed({
                marginTop: $('.header-two').outerHeight(true) + 10, 
                zIndex: 999
            });
        });
    });
</script>
<!-- //js --> 
<!-- web-fonts -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'> 
<link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<!-- web-fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="../JS/move-top.js"></script>
<script type="text/javascript" src="../JS/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
</head>
<body>
	<!-- header -->
	<div class="header"></div>
	<!-- //header --> 	
	<!-- pagina de ofertas -->
	<div class="Fondo-body">
	<div class="wthree-offers">
		<div class="container">
			<h3 class="w3ls-title w3ls-title1">Oferteas y targetas de regalo </h3>
			<div class="w3ls-add-grids w3agile-add-products">
				<a href="products.php?activar=30-20"> 
					<h4>TOP 10 DE MENUS ELEGIDOS CON UN <span>20%</span> DE DESCUENTO</h4>
					<h6>Comprar ahora <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
				</a>
			</div> 
			<div class="offer-card-row" id="Targeta">
				<div class="col-md-4 offer-card-grids">
					<h4>20% De descuento </h4>
					<p>Estos productos te devuelven 20% dedescuento</p>
					<a href="products.php?activar=30-20">Comprar ahora <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
				</div>
				<div class="col-md-4 offer-card-grids">
					<h4>Quiero mis targetas</h4>
					<p>Estos productos entran en la oferta!</p>
					<a href="products.php">Comprar ahora <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
				</div>
				<div class="col-md-4 offer-card-grids">
					<h4>10% De descuento </h4>
					<p>Comprar usando targeta de credito te devuelve el 10% </p>
					<a href="products.php?activar=10-5">Comprar ahora <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
				</div>	
				<div class="clearfix"> </div>
			</div>	
			<div class="offer-bottom"> 
				<div class="col-md-6 offer-bottom-grids">
					<div class="offer-bottom-grids-info2">
						<h4>Targetas de regalo especiales</h4> 
						<h6>Más marcas, más maneras de comprar. <br> Cada 4 compras te otorgan un bono por $40000!</h6>
					</div>
				</div>
				<div class="col-md-6 offer-bottom-grids">
					<div class="offer-bottom-grids-info">
						<h4>Gran ahorro</h4>
						<h6>El mejor descuento <br> en el mercado</h6>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	</div>
	<!-- //login-page --> 
	<!-- footer-top -->
	<div class="w3agile-ftr-top">
		<div class="container">
			<div class="ftr-toprow">
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>DOMICILIO GRATIS</h4>
						<p>Ciertos restaurantes te ofreceran domicilios gratis, según donde lo pidas </p>
					</div> 
					<div class="clearfix"> </div>
				</div> 
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>CUIDADO DEL CLIENTE</h4>
						<p>Restaurantes con calidad y servicios garantizados, y gran variedad alimentaria. </p>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>BUENA CALIDAD</h4>
						<p>Los mejoraes servicios de entrega a docmicilio, con los mejores restaurantes! </p>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer-top -->  
	<!-- subscribe -->
	<div class="subscribe"> 
		<div class="container">
			<div class="col-md-6 social-icons w3-agile-icons">
				<h4>Mantenerse en contacto</h4>  
				<ul>
					<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
					<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
					<li><a href="#" class="fa fa-rss icon rss"> </a></li> 
				</ul>
				<ul class="apps"> 
					<li><h4>Descarga nuestra App : </h4> </li>
					<li><a href="#" class="fa fa-apple"></a></li>
					<li><a href="#" class="fa fa-windows"></a></li>
					<li><a href="#" class="fa fa-android"></a></li>
				</ul>
			</div> 
			<div class="col-md-6 subscribe-right">
				<h4>Unete ahora!</h4> 
				<form action="#" method="post"> 
					<input type="text" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
				</form>
				<div class="clearfix"> </div> 
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //subscribe --> 
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-info w3-agileits-info">
				<div class="col-md-4 address-left agileinfo">
					<div class="footer-logo header-logo">
					<ul>
						<li><i class="fa fa-map-marker"></i> 123 San Sebastian, Bogotá Colombia.</li>
						<li><i class="fa fa-mobile"></i> 333 222 3333 </li>
						<li><i class="fa fa-phone"></i> +222 11 4444 </li>
						<li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@whimcy.com</a></li>
					</ul>
					</div> 
				</div>
				<div class="col-md-8 address-right">
					<div class="col-md-4 footer-grids">
						<h3>Compañia</h3>
						<ul>
							<li><a href="about.html">Sobre Nosotros</a></li>
							<li><a href="marketplace.html">Mercado</a></li>  
							<li><a href="values.html">Nuestros Valores</a></li>  
							<li><a href="privacy.html">Politica de privacidad</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Servicios</h3>
						<ul>
							<li><a href="#">Contactenos</a></li>
							<li><a href="login.html">Regresar</a></li> 
							<li><a href="faq.html">Restaurantes</a></li>
							<li><a href="Mapa.html">Zonas</a></li>
							<li><a href="login.html">Estado de orden</a></li>
						</ul> 
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Metodos de pago</h3>
						<ul>
							<li><i class="fa fa-laptop" aria-hidden="true"></i> Nequi</li>
							<li><i class="fa fa-money" aria-hidden="true"></i> En efectivo</li>
							<li><i class="fa fa-pie-chart" aria-hidden="true"></i>Daviplata</li>
							<li><i class="fa fa-gift" aria-hidden="true"></i> PSE</li>
							<li><i class="fa fa-credit-card" aria-hidden="true"></i> Trageta Dedito/Credito</li>
						</ul>  
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer -->		
	<div class="copy-right"> 
		<div class="container">
			<p>© 2016 Smart bazaar . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
		</div>
	</div> 
	<!-- cart-js -->
	<script src="../JS/minicart.js"></script>
	<script src="../JS/StartCart.js"></script>
	<!-- menu js aim -->
	<script src="../JS/jquery.menu-aim.js"> </script>
	<script src="../JS/main.js"></script> <!-- Resource jQuery -->
	<!-- //menu js aim --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Abrir submenus -->
	<script src="../JS/SubMenus.js"></script>
    <script src="../JS/bootstrap.js"></script>
	<script src="../JS/Assest/sessionManager.js"></script>
	<!-- Importar el Menu /HTML -->
	<script>
		document.addEventListener("DOMContentLoaded", async () => {
			try {
				const response = await fetch("/whimcy/Views/Menu.php");
				if (!response.ok) throw new Error("Error al cargar Menu.php");

				const html = await response.text();
				document.querySelector(".header").innerHTML = html;
				
				// Activar scripts del menú
				if (typeof inicializarHeaderNav === "function") inicializarHeaderNav();
				if (typeof inicializarLogin === "function") inicializarLogin();
				setTimeout(() => {
					if (typeof StartCart === "function") StartCart();
				}, 200);

			} catch (err) {
				console.error(err);
			}
		});
	</script>
	<!-- Enlaces dinamicos/ Movil -->
	<script>
		function redirigirLogin(e) { 

        if (window.matchMedia("(max-width: 400px)").matches) {
			e.preventDefault();
            window.location.href = "Mobile/Inicio.php";
        } else {
            window.location.href = "login.html";
        }
    }
    </script> 
</body>
</html>