<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="es">
<head>
<title>Politicas de privacidad</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Bazaar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../Css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../Css/style.css" rel="stylesheet" type="text/css" media="all" /> 
<link href="../Css/animate.min.css" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
<link href="../Css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->   
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="../Css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="../JS/jquery-2.2.3.min.js"></script> 
<script src="../JS/jquery-scrolltofixed-min.js" type="text/javascript"></script><!-- fixed nav js -->
<script>
    $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

        $('.header-two').scrollToFixed();  
        // previous summary up the page.

        var summaries = $('.summary');
        summaries.each(function(i) {
            var summary = $(summaries[i]);
            var next = summaries[i + 1];

            summary.scrollToFixed({
                marginTop: $('.header-two').outerHeight(true) + 10, 
                zIndex: 999
            });
        });
    });
</script>
<!-- //js --> 
<!-- web-fonts -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'> 
<!-- web-fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="../JS/move-top.js"></script>
<script type="text/javascript" src="../JS/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="header-three"><!-- header-three -->
			<div class="container">
				<div class="menu">
					<div class="cd-dropdown-wrapper">
						<a class="cd-dropdown-trigger" href="#0">Tienda Categorias</a>
						</nav> <!-- .cd-dropdown -->
					</div> <!-- .cd-dropdown-wrapper -->	 
				</div>
				<div class="move-text">
					<div class="marquee"><a href="offers.html"> Nuevos menús para fechas especiales...... <span>Obten un 10% de descuento | sin tarifas extra </span> <span> Disfruta de tus menus favoritos para cada ocación</span></a></div>
					<script type="text/javascript" src="../JS/jquery.marquee.min.js"></script>
					<script>
					  $('.marquee').marquee({ pauseOnHover: true });
					  //@ sourceURL=pen.js
					</script>
				</div>
			</div>
		</div>
	</div>
	<!-- //header --> 	
	<!-- privacy-page -->
	<div class="Fondo-body">
	<div class="privacy">
		<div class="container"> 
			<h3 class="w3ls-title w3ls-title1">Políticas de Privacidad</h3>  
			<div class="privacy-w3row">
				<h5><strong>1.1.	PRIMERA. DEFINICIONES</strong></h5> 
				<p><strong>1.2.	Compras integradas:</strong> Compras realizadas desde una aplicación integrada en la web.
				<p><strong>1.3.	Pagos en línea:</strong> Pagos a través de una plataforma correspondiente para pagar a un proveedor algo.
				<p><strong>1.4.	Ubicación en tiempo real:</strong> Ubicación de algo o alguien continuo, en el momento preciso visto desde esa aplicación.
				<p><strong>1.5.	Hardware:</strong> Conjunto de elementos físicos o materiales que constituyen una computadora o un sistema informático.
				<p><strong>1.6.	Software:</strong> Conjunto de programas y rutinas que permiten a la computadora realizar determinadas tareas (Aplicaciones integradas o no).
				<p><strong>1.7.	Rubro:</strong> Conjunto de artículos de consumo de un mismo tipo o relacionados con determinada actividad.
				<p><strong>1.8.	Cluf:</strong> Sección.
				<p><strong>1.9.	Instalación:</strong> Consiste en la transferencia de nuevos programas a un computador y, eventualmente, configurados, para ser usados con el fin para el cual fueron desarrollados.
				<p class="end"><strong>1.10.	PC:</strong> Se refiere al Computador en general.
				<h5><strong> 2.	SEGUNDA. UTILIZACIÓN.</strong></h5> <strong>EL BENEFICIADO</strong> Registre en esta cláusula las especificaciones de utilización de sistema de información contratado. (Incluir los términos de referencia como Cobertura, fuentes, usuarios etc.)</p>
				<h5><strong> 3.	TERCERA. AMBIENTE TÉCNICO DE OPERACIÓN.</strong></h5>  
				<p>EL BENEFICIADO instalará y garantizará el buen funcionamiento del <strong>HARDWARE Y SOFTWARE OPERATIVO</strong> necesario para la instalación y funcionamiento de Software WHIMCY, de acuerdo con las especificaciones técnicas exigida por EL BENEFICIARIO, para que opere la solución. 
				En el evento que cumplidas por EL BENEFICIADO las especificaciones técnicas indicadas en el Anexo B y una vez en producción el Software WHIMCY, presente fallas o deficiencias que no sean causadas por el HARDWARE Y/O EL SOFTWARE OPERATIVO, <strong>EL BENEFICIARIO</strong> debe atender y solucionar dichas fallas o deficiencias
				 en un plazo máximo de cuatro (4) horas hábiles, siempre y cuando esté vigente un convenio de mantenimiento y soporte técnico contratado por EL BENEFICIADO a EL BENEFICIADO por un valor anual no superior al % del valor de este contrato. En ningún caso EL BENEFICIARIO, debe atender las deficiencias o fallas presentadas 
				 en el HARDWARE Y/O EL SOFTWARE OPERATIVO donde esté instalado el Software WHIMCY.</p> 			
				<h5><strong>4.	CUARTA. HOMOLOGACIÓN DE VERSIONES.</strong></h5>  
				<p>En el momento que los proveedores del SOFTWARE OPERATIVO liberen nuevas versiones, EL BENEFICIADO antes debe solicitar a EL BENEFICIARIO certificación del buen funcionamiento del Software WHIMCY bajo el nuevo ambiente y en caso contrario, solicitar su mantenimiento en las condiciones de la cláusula séptima de este contrato.</p>
				<h5><strong>5.	QUINTA. MODIFICACIONES Y ADICIONES.</strong></h5>
				<p>EL BENEFICIARIO se compromete a que el Software WHIMCY cumpla con todos los requerimientos que se indican en el ANEXO FUNCIONAL, Anexo A. En el evento en que EL BENEFICIADO requiera modificaciones adicionales EL BENEFICIARIO las evaluará con base en el Procedimiento de Control de Cambios 
					y determinará si se incluyen dentro del desarrollo objeto del presente contrato o serán objeto de un desarrollo adicional, implicando tiempo, recursos y valor adicional.</p>
				<h5><strong>6.	SEXTA. MODIFICACIONES AL SOFTWARE.</strong></h5>
				<p>TECHNESMART no asume ninguna responsabilidad por modificaciones o alteraciones hechas al Software WHIMCY por funcionarios de EL BENEFICIADO, sin previa autorización escrita de EL BENEFICIARIO en donde se describa el cambio y el nombre del funcionario de EL BENEFICIADO autorizado 
					para llevar a cabo dicha modificación. </p>
				<h5><strong>7.	SEPTIMA. ADECUACIÓN DEL SOFTWARE.</strong></h5>
				<p>Durante la ejecución del presente contrato EL BENEFICIADO y EL BENEFICIARIO podrán acordar las adecuaciones procedimentales, mantenimiento y/o modificación al Software WHIMCY. Las mismas deben constar en actas firmadas por las partes.</p>
			</div>
		</div>
	</div>
	</div>
	<!-- //privacy-page --> 
	<!-- footer-top -->
	<div class="w3agile-ftr-top">
		<div class="container">
			<div class="ftr-toprow">
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>DOMICILIO GRATIS</h4>
						<p>Ciertos restaurantes te ofreceran domicilios gratis, según donde lo pidas </p>
					</div> 
					<div class="clearfix"> </div>
				</div> 
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>CUIDADO DEL CLIENTE</h4>
						<p>Restaurantes con calidad y servicios garantizados, y gran variedad alimentaria. </p>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>BUENA CALIDAD</h4>
						<p>Los mejoraes servicios de entrega a docmicilio, con los mejores restaurantes! </p>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer-top -->  
	<!-- subscribe -->
	<div class="subscribe"> 
		<div class="container">
			<div class="col-md-6 social-icons w3-agile-icons">
				<h4>Mantenerse en contacto</h4>  
				<ul>
					<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
					<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
					<li><a href="#" class="fa fa-rss icon rss"> </a></li> 
				</ul>
				<ul class="apps"> 
					<li><h4>Descarga nuestra App : </h4> </li>
					<li><a href="#" class="fa fa-apple"></a></li>
					<li><a href="#" class="fa fa-windows"></a></li>
					<li><a href="#" class="fa fa-android"></a></li>
				</ul>
			</div> 
			<div class="col-md-6 subscribe-right">
				<h4>Unete y descubre nuestros descuentos!</h4> 
				<form action="#" method="post"> 
					<input type="text" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
				</form>
				<div class="clearfix"> </div> 
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //subscribe --> 
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-info w3-agileits-info">
				<div class="col-md-4 address-left agileinfo">
					<div class="footer-logo header-logo">
					<ul>
						<li><i class="fa fa-map-marker"></i> 123 San Sebastian, Bogotá Colombia.</li>
						<li><i class="fa fa-mobile"></i> 333 222 3333 </li>
						<li><i class="fa fa-phone"></i> +222 11 4444 </li>
						<li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@whimcy.com</a></li>
					</ul>
					</div> 
				</div>
				<div class="col-md-8 address-right">
					<div class="col-md-4 footer-grids">
						<h3>Compañia</h3>
						<ul>
							<li><a href="about.html">Sobre Nosotros</a></li>
							<li><a href="marketplace.html">Mercado</a></li>  
							<li><a href="values.html">Nuestros Valores</a></li>  
							<li><a href="privacy.html">Politica de privacidad</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Servicios</h3>
						<ul>
							<li><a href="#">Contactenos</a></li>
							<li><a href="login.html">Regresar</a></li> 
							<li><a href="Mapa.html">Restaurantes</a></li>
							<li><a href="Mapa.html">Zonas</a></li>
							<li><a href="login.html">Estado de orden</a></li>
						</ul> 
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Metodos de pago</h3>
						<ul>
							<li><i class="fa fa-laptop" aria-hidden="true"></i> Nequi</li>
							<li><i class="fa fa-money" aria-hidden="true"></i> En efectivo</li>
							<li><i class="fa fa-pie-chart" aria-hidden="true"></i>Daviplata</li>
							<li><i class="fa fa-gift" aria-hidden="true"></i> PSE</li>
							<li><i class="fa fa-credit-card" aria-hidden="true"></i> Trageta Dedito/Credito</li>
						</ul>  
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer -->		
	<div class="copy-right"> 
		<div class="container">
			<p>© 2016 Smart bazaar . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
		</div>
	</div> 
	<!-- cart-js -->
	<script src="../JS/minicart.js"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>  
	<!-- //cart-js --> 	 
	<!-- menu js aim -->
	<script src="../JS/jquery.menu-aim.js"> </script>
	<script src="../JS/main.js"></script> <!-- Resource jQuery -->
	<!-- //menu js aim --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../JS/bootstrap.js"></script>
	<!-- Importar el Menu -->
	<script>
		$(document).ready(function () {
		  $('.header').load('Menu.php');
		});
	</script> 
</body>
</html>