<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="es">

<head>
	<title>Detalles del producto</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Smart Bazaar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="../Css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../Css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../Css/animate.min.css" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
	<link href="../Css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
	<link href="../Css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"> <!-- carousel slider -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<link rel="stylesheet" href="../Css/flexslider.css" type="text/css" media="screen" />
	<!-- //Custom Theme files -->
	<!-- font-awesome icons -->
	 <script src="https://kit.fontawesome.com/b59d19b6f4.js"></script>
	<link href="../Css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="../JS/jquery-2.2.3.min.js"></script>
	<script src="../JS/jquery.flexslider.js"></script>
	 <!-- <script>
	    var $jq22 = jQuery.noConflict(true); // versión 2.2.3
	 </script> -->
	 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	 <script src="../JS/owl.carousel.js"></script>
	 <script src="../JS/bootstrap.js"></script>
	 <script src="https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.2.3/src/jquery.ez-plus.js"></script>
	<!-- //js -->
	<!-- web-fonts -->
	<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
		rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
	<!-- web-fonts -->
	<!-- scroll to fixed-->
	<script src="../JS/jquery-scrolltofixed-min.js" type="text/javascript"></script>
	<script>
		$(document).ready(function () {

			// Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

			$('.header-two').scrollToFixed();
			// previous summary up the page.

			var summaries = $('.summary');
			summaries.each(function (i) {
				var summary = $(summaries[i]);
				var next = summaries[i + 1];

				summary.scrollToFixed({
					marginTop: $('.header-two').outerHeight(true) + 10,
					zIndex: 999
				});
			});
		});
	</script>
	<!-- //scroll to fixed-->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="../JS/move-top.js"></script>
	<script type="text/javascript" src="../JS/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
</head>

<body>
	<!-- header -->
	<div class="header"> </div>
	<div class="header-three"><!-- header-three -->
		<div class="container">
				<div class="menu">
					<div class="cd-dropdown-wrapper">
						<a class="cd-dropdown-trigger" href="#0">Tienda</a>
						<nav class="cd-dropdown"> 
							<a href="#0" class="cd-close">Cerrar</a>
							<ul class="cd-dropdown-content">
								<li class="has-children">
									<a href="#">Menús</a> 
									<ul class="cd-secondary-dropdown is-hidden">
										<li class="go-back"><a href="#">Menús</a></li>
										<li class="see-all"><a href="products.php">Productos</a></li>
										<li class="main"><a href="products.php">Pedir</a></li>
										<li><a href="products.php?category=Top">Top</a></li>
										<li class="has-children">
											<a href="#">Combos</a>  
											<ul class="is-hidden"> 
												<li class="go-back"><a href="#">Productos </a></li>
												<li><a href="products.php?category=combos">Categorias</a></li>
												<li><a href="#">Definidos</a></li>
												<li><a href="#">Cartas</a></li>
											</ul>
										<li><a href="Favoritos.php">Favoritos</a></li>
										</li> 
									</ul> <!-- .cd-secondary-dropdown -->
								<li class="has-children">
									<a href="#">Promociones</a> 
									<ul class="is-hidden"> 
										<li class="go-back"><a href="#">Promociones </a></li>
										<li><a href="offers.html">Fechas</a></li> 
										<li><a href="ocations.html?normalDay=1">Para Año Nuevo</a></li>
										<li><a href="ocations.html">Ocaciones especiales</a></li>
									</ul>
								</li> 
								<li class="has-children">
									<a href="#">Restaurantes</a> 
									<ul class="is-hidden"> 
										<li class="go-back"><a href="#">Restaurantes </a></li>
										<li><a href="#" class="links" data-section="Seccion1">Mapa</a></li>
										<li><a href="#" class="links" data-section="Restaurante">Todos</a></li>
										<li><a href="#" class="links" data-section="Seccion01">Mi Zona</a></li>
										<li><a href="#" class="links" data-section="Seccion2">Ubicación</a></li>
										<li><a href="#" class="links" data-section="Seccion3">Reservación</a></li>
									</ul>
								</li> 
								<li class="has-children">
									<a href="#">Adicional</a> 
									<ul class="is-hidden">
										<li class="go-back"><a href="#0">Adicional </a></li>
										<li><a href="Recetas.php">Mis Menús</a></li>
										<li><a href="forums.html">Comunidad</a></li>
										<li><a href="#">Amigos</a></li>
									</ul>
								</li> 
							</ul> <!-- .cd-dropdown-content -->
						</nav> <!-- .cd-dropdown -->
					</div> <!-- .cd-dropdown-wrapper -->	 
				</div>
				<div class="move-text">
					<div class="marquee"><a href="offers.html"> Nuevos menús para fechas especiales...... <span>Obten un 10% de descuento | sin tarifas extra </span> <span> Disfruta de tus menus favoritos para cada ocación</span></a></div>
					<script type="text/javascript" src="../JS/jquery.marquee.min.js"></script>
					<script>
					  $('.marquee').marquee({ pauseOnHover: true });
					  //@ sourceURL=pen.js
					</script>
				</div>
			</div>
	</div>
	<!-- //header -->
	<!-- breadcrumbs -->
	<div class="container fix">
		<ol class="breadcrumb breadcrumb1">
			<li><a href="index.html">Inicio</a></li>
			<li><a href="products.php">Pedir</a></li>
			<li class="active">Detalles</li>
		</ol>
		<div class="clearfix"> </div>
	</div>
	<!-- //breadcrumbs -->
	<!-- products -->
	<div class="Fondo-body">
		<div class="products">
			<div class="container">
				<div class="single-page">
					<div class="single-page-row" id="detail-21">
						<div class="col-md-6 single-top-left">
							<div class="flexslider">
								<ul class="slides">
									<li data-thumb="../images/img1.png">
										<div class="thumb-image detail_images"> <img src="" id="ImageGet"
												data-imagezoom="true" class="img-responsive clean" alt="Imagenes">
										</div>
									</li>
									<li data-thumb="../images/img2.png">
										<div class="thumb-image"> <img id="img1" src="" data-imagezoom="true"
												class="img-responsive clean Filtro1" alt=""> </div>
									</li>
									<li data-thumb="../images/img3.png">
										<div class="thumb-image"> <img id="img2" src="" data-imagezoom="true"
												class="img-responsive clean Filtro2" alt=""> </div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 single-top-right">
							<h3 class="item_name" id="g1-destino"></h3>
							<p>Tiempo de entrega: 20 minutos. </p>
							<div class="single-rating">
								<ul>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									<li class="rating">20 reseñas</li>
									<li><a href="#" onclick="puntuar()">Agrega tu reseña</a></li>
								</ul>
							</div>
							<div class="single-price">
								<ul>
									<li id="precio-destino"></li>
									<li id="precio-original"><del></del></li>
									<li><span class="w3off" id="descuento-texto">10% OFF</span></li>
									<li>Termina el: 5 de Junio</li>
									<li><a href="#"><i class="fa fa-gift" aria-hidden="true"></i> Cupon</a></li>
								</ul>
							</div>
							<p class="single-price-text" id="descripcion"></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart" />
								<input type="hidden" name="add" value="1" />
								<input type="hidden" id="w3text" name="w3ls_item" value="" />
								<input type="hidden" id="amount" name="amount" value="" />
								<button type="submit" class="w3ls-cart">
									<i class="fa fa-cart-plus"
										aria-hidden="true"></i> Agregar carrito</button>
							</form>
							<button class="w3ls-cart w3ls-cart-like" data-product-id="">
								<i class="fa fa-heart-o" aria-hidden="true"></i>
								Agragar a mi lista</button>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="single-page-icons social-icons">
						<ul>
							<li>
								<h4>Compartir en</h4>
							</li>
							<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
							<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
							<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
							<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
							<li><a href="#" class="fa fa-rss icon rss"> </a></li>
						</ul>
					</div>
				</div>
				<!-- recommendations -->
				<div class="recommend">
					<h3 class="w3ls-title">Nuestras Recomendaciones </h3>
					<script>
						$(document).ready(function () {
							$("#owl-demo5").owlCarousel({

								autoPlay: 3000, //Set AutoPlay to 3 seconds

								items: 4,
								itemsDesktop: [640, 5],
								itemsDesktopSmall: [414, 4],
								navigation: true

							});

						}); 
					</script>
					<div id="owl-demo5" class="owl-carousel">
						<div class="item">
							<div class="glry-w3agile-grids agileits">
								<div class="new-tag">
									<h6>20% <br> Off</h6>
								</div>
								<a href="products.php"><img src="../images/g7.png" alt="img"></a>
								<div class="view-caption agileits-w3layouts">
									<h4><a href="products.php">Botana</a></h4>
									<p>Un choque de sabores para tu pladar.</p>
									<h5>$22500</h5>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" />
										<input type="hidden" name="w3ls_item" value="Botana" />
										<input type="hidden" name="amount" value="22500.00" />
										<button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus"
												aria-hidden="true"></i> Agregar al carrito</button>
									</form>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="glry-w3agile-grids agileits">
								<a href="products.php"><img src="../images/g12.png" alt="img"></a>
								<div class="view-caption agileits-w3layouts">
									<h4><a href="products.php">McFlurry Oreo</a></h4>
									<p>El inconfundible sabor de Oreo</p>
									<h5>$11500</h5>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" />
										<input type="hidden" name="w3ls_item" value="McFlurry Oreo" />
										<input type="hidden" name="amount" value="11500.00" />
										<button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus"
												aria-hidden="true"></i> Agregar al carrito</button>
									</form>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="glry-w3agile-grids agileits">
								<div class="new-tag">
									<h6>New</h6>
								</div>
								<a href="products.php"><img src="../images/g13.png" alt="img"></a>
								<div class="view-caption agileits-w3layouts">
									<h4><a href="products.php">Helado</a></h4>
									<p>Disfruta de exquisitos sabores de helado </p>
									<h5>$8100</h5>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" />
										<input type="hidden" name="w3ls_item" value="Helado" />
										<input type="hidden" name="amount" value="8100.00" />
										<button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus"
												aria-hidden="true"></i> Agregar al carrito</button>
									</form>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="glry-w3agile-grids agileits">
								<a href="products.php"><img src="../images/g15.png" alt="img"></a>
								<div class="view-caption agileits-w3layouts">
									<h4><a href="products.php">Hamburguesa</a></h4>
									<p>Una buena hamburguesa en Mc Donalds</p>
									<h5>$4800</h5>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" />
										<input type="hidden" name="w3ls_item" value="Hamburguesa" />
										<input type="hidden" name="amount" value="4800.00" />
										<button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus"
												aria-hidden="true"></i> Agregar al carrito</button>
									</form>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="glry-w3agile-grids agileits">
								<div class="new-tag">
									<h6>New</h6>
								</div>
								<a href="products.php"><img src="../images/g14.png" alt="img"></a>
								<div class="view-caption agileits-w3layouts">
									<h4><a href="products.php">Frijoles MC</a></h4>
									<p>Necesitas un almuerzo en Mc Donalds?</p>
									<h5>$10000</h5>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" />
										<input type="hidden" name="w3ls_item" value="Frijoles MC" />
										<input type="hidden" name="amount" value="10000.00" />
										<button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus"
												aria-hidden="true"></i> Agregar al carrito</button>
									</form>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="glry-w3agile-grids agileits">
								<div class="new-tag">
									<h6>20% <br> Off</h6>
								</div>
								<a href="products.php"><img src="../images/g16.png" alt="img"></a>
								<div class="view-caption agileits-w3layouts">
									<h4><a href="products.php">Chorote Paisa</a></h4>
									<p>Todo el fin de semana tenemos parrila!</p>
									<h5>$22320</h5>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" />
										<input type="hidden" name="w3ls_item" value="Chorote Paisa" />
										<input type="hidden" name="amount" value="22320.00" />
										<button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus"
												aria-hidden="true"></i> Agregar al carrito</button>
									</form>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="glry-w3agile-grids agileits">
								<a href="products.php"><img src="../images/g11.png" alt="img"></a>
								<div class="view-caption agileits-w3layouts">
									<h4><a href="products.php">Picada</a></h4>
									<p>Deliciosa picada con carne lomo y pollo</p>
									<h5>$26000</h5>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" />
										<input type="hidden" name="w3ls_item" value="Picada" />
										<input type="hidden" name="amount" value="26000.00" />
										<button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus"
												aria-hidden="true"></i> Agregar al carrito</button>
									</form>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="glry-w3agile-grids agileits">
								<div class="new-tag">
									<h6>Sale</h6>
								</div>
								<a href="products.php"><img src="../images/g8.png" alt="img"></a>
								<div class="view-caption agileits-w3layouts">
									<h4><a href="products.php">Coctel de jabalí</a></h4>
									<p>Pide ya tu coctel de Jabalí</p>
									<h5>$46000</h5>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" />
										<input type="hidden" name="w3ls_item" value="Coctel de jabalí" />
										<input type="hidden" name="amount" value="46000.00" />
										<button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus"
												aria-hidden="true"></i> Agregar al carrito</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //recommendations -->
				<!-- collapse-tabs -->
				<div class="collpse tabs">
					<h3 class="w3ls-title">Sobre este elemento</h3>
					<div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"
										href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										<i class="fa fa-file-text-o fa-icon" aria-hidden="true"></i> Descripción <span
											class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i
											class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="headingOne">
								<div class="panel-body" data-id="T1">
									Esta preparación tradicional siempre la preparaban las familias campesinas para épocas 
									en que se convocaban a los jornaleros de los cultivos de papa y maíz en pueblos como Paz 
									de Rio, Tasco y Sativa Sur, todos ellos pertenecientes al departamento de Boyacá en Colombia.
									La sopa de chorotes a diferencia de otros alimentos tradicionales se preparaba para épocas de trabajos del campo.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed pa_italic" role="button" data-toggle="collapse"
										data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
										aria-controls="collapseTwo">
										<i class="fa fa-info-circle fa-icon" aria-hidden="true"></i> información adicional <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span>
										<i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
								aria-labelledby="headingTwo">
								<div class="panel-body" data-id="T2">
									El chorote hace referencia a un amasijo e maíz relleno de carne que se cocina en un caldo, por 
									tanto para preparar esta sopa tenemos tres elemento básicos, la preparación de la sopa o caldo, 
									la elaboración de la masa de los chorotes y finalmente la preparación del relleno de lo chorotes.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<a class="collapsed pa_italic" role="button" data-toggle="collapse"
										data-parent="#accordion" href="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree">
										<i class="fa fa-check-square-o fa-icon" aria-hidden="true"></i> Reseñas (5)
										<span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i
											class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
								aria-labelledby="headingThree">
								<div class="panel-body" data-id="T3">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
									richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
									brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
									aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
									ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
									farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
									accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour">
								<h4 class="panel-title">
									<a class="collapsed pa_italic" role="button" data-toggle="collapse"
										data-parent="#accordion" href="#collapseFour" aria-expanded="false"
										aria-controls="collapseFour">
										<i class="fa fa-question-circle fa-icon" aria-hidden="true"></i> Ayuda <span
											class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i
											class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
									</a>
								</h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
								aria-labelledby="headingFour">
								<div class="panel-body" data-id="T4">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
									richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
									brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
									aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
									ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
									farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
									accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //collapse -->
				<!-- offers-cards -->
				<div class="w3single-offers offer-bottom">
					<div class="col-md-6 offer-bottom-grids">
						<div class="offer-bottom-grids-info2">
							<h4>Targetas de regalo especiales</h4> 
							<h6>Más marcas, más maneras de comprar. <br> Cada 4 compras te otorgan un bono por $40000!</h6>
						</div>
					</div>
					<div class="col-md-6 offer-bottom-grids">
						<div class="offer-bottom-grids-info">
							<h4>Gran ahorro</h4>
							<h6>El mejor descuento <br> en el mercado</h6>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- //offers-cards -->
			</div>
		</div>
	</div>
	<!--//products-->
	<!-- footer-top -->
	<div class="w3agile-ftr-top">
		<div class="container">
			<div class="ftr-toprow">
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="ftr-top-right">
						<h4>DOMICILIO GRATIS</h4>
						<p>Ciertos restaurantes te ofreceran domicilios gratis, según donde lo pidas </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div>
					<div class="ftr-top-right">
						<h4>CUIDADO DEL CLIENTE</h4>
						<p>Restaurantes con calidad y servicios garantizados, y gran variedad alimentaria. </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div>
					<div class="ftr-top-right">
						<h4>BUENA CALIDAD</h4>
						<p>Los mejoraes servicios de entrega a docmicilio, con los mejores restaurantes! </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer-top -->
	<!-- subscribe -->
	<div class="subscribe">
		<div class="container">
			<div class="col-md-6 social-icons w3-agile-icons">
				<h4>Mantenerse en contacto</h4>
				<ul>
					<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
					<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
					<li><a href="#" class="fa fa-rss icon rss"> </a></li>
				</ul>
				<ul class="apps">
					<li>
						<h4>Descarga nuestra App : </h4>
					</li>
					<li><a href="#" class="fa fa-apple"></a></li>
					<li><a href="#" class="fa fa-windows"></a></li>
					<li><a href="#" class="fa fa-android"></a></li>
				</ul>
			</div>
			<div class="col-md-6 subscribe-right">
				<h4>Unete y descubre nuestros descuentos!</h4>
				<form action="#" method="post">
					<input type="text" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
				</form>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //subscribe -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-info w3-agileits-info">
				<div class="col-md-4 address-left agileinfo">
					<div class="footer-logo header-logo">
						<ul>
							<li><i class="fa fa-map-marker"></i> 123 San Sebastian, Bogotá Colombia.</li>
							<li><i class="fa fa-mobile"></i> 333 222 3333 </li>
							<li><i class="fa fa-phone"></i> +222 11 4444 </li>
							<li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@whimcy.com</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-8 address-right">
					<div class="col-md-4 footer-grids">
						<h3>Compañia</h3>
						<ul>
							<li><a href="#">Sobre Nosotros</a></li>
							<li><a href="#">Mercado</a></li>
							<li><a href="#">Nuestros Valores</a></li>
							<li><a href="privacy.html">Politica de privacidad</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Servicios</h3>
						<ul>
							<li><a href="#">Contactenos</a></li>
							<li><a href="login.html">Regresar</a></li>
							<li><a href="Mapa.html">Restaurantes</a></li>
							<li><a href="Mapa.html">Zonas</a></li>
							<li><a href="login.html">Estado de orden</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Metodos de pago</h3>
						<ul>
							<li><i class="fa fa-laptop" aria-hidden="true"></i> Nequi</li>
							<li><i class="fa fa-money" aria-hidden="true"></i> En efectivo</li>
							<li><i class="fa fa-pie-chart" aria-hidden="true"></i>Daviplata</li>
							<li><i class="fa fa-gift" aria-hidden="true"></i> PSE</li>
							<li><i class="fa fa-credit-card" aria-hidden="true"></i> Trageta Dedito/Credito</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<div class="copy-right">
		<div class="container">
			<p>© 2016 Smart bazaar . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
		</div>
	</div>
	<!-- cart-js -->
	<script src="../JS/minicart.js"></script>
	<script>
		w3ls.render();

		w3ls.cart.on('w3sb_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {
					items[i].set('shipping', 0);
					items[i].set('shipping2', 0);
				}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- menu js aim -->
	<script src="../JS/jquery.menu-aim.js"> </script>
	<script src="../JS/main.js"></script> <!-- Resource jQuery -->
	<!-- //menu js aim -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../JS/Favoritos.js"></script>
	<!-- submenus -->
	<script src="../JS/SubMenus.js"></script>
	<script src="../JS/Assest/sessionManager.js"></script>
	<!-- Ocultar menú movil -->
	<style>
		#menu-toggle {
			display: none !important;
		}
		.form-control {
			display: unset;
			width: unset;
			height: unset;
		}
		/* Reajustes*/
		@media (max-width: 400px) {
			.breadcrumb {
				margin-bottom: unset;
			}
			.container.fix {
				padding-right: unset;
				padding-left: unset;	
			}
			.single-top-left {
        		margin-left: 20%;
			}
			.single-top-right .w3ls-cart {
				width: 34% !important;
			}
			.single-top-right p {
				color: black;
			}
			.single-top-right h3 {
				font-weight: 1000;
			}
			.single-top-right li:not(:has(i)) {
				color: #222 !important;
			}
			.single-top-right ul li i {
				color: #ebf58d;
			}
			.single-top-right .w3ls-cart {
				width: 28%;
			}
			.single-top-right ul li a {
				color: #e7ffbb;
			}
			.single-price ul li span.w3off {
				color: #5ab7ff;
			}
			.single-top-right .w3ls-cart.w3ls-cart-like {
				border-color: #59b3f5;
				color: #59b3f5;
				background-color: #003b67;
			}
		}
	</style>
	<!--flex slider-->
	<script src="../JS/jquery.flexslider-2.7.2.min.js"></script>
	<link rel="stylesheet" href="../Css/flexslider.css" type="text/css" media="screen" />
	<script>
		// Can also be used with $(document).ready()
		$(window).on('load',function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- obtener imagen, texto, descripción y percios -->
	<script>
		window.onload = function () {
			var ruta = localStorage.getItem('imagen');
			var texto = localStorage.getItem('h3Valor');
			var precio = parseFloat(localStorage.getItem('precio'));
			var nombreArchivo = ruta.split("/").pop();
			

			if (ruta) {
				var imageElement = document.getElementById('ImageGet');
				var img1 = document.getElementById('img1');
				var img2 = document.getElementById('img2');
				var ZoomRuta = "../images/Large/" + nombreArchivo.replace(".png", "_large.png");
				console.log (ZoomRuta);

				if (imageElement) {
					imageElement.src = ruta;
					img1.src = ruta;
					img2.src = ruta;
					imageElement.setAttribute("data-zoom-image", ZoomRuta);
					img1.setAttribute("data-zoom-image", ZoomRuta);
					img2.setAttribute("data-zoom-image", ZoomRuta);

					$("#ImageGet, #img1, #img2").ezPlus({
						zoomType: "lens",
						lensShape: "round",
						lensSize: 200
					});
					
				} else {
					console.error('Elementos no encontrados.');
				}

			} else {
				console.error('No se encontró la ruta en localStorage.');
			}

			if (texto) {
				document.getElementById('g1-destino').textContent = texto;
				document.getElementById('w3text').value = texto;
				descripcion = generarDescripcion(texto);
			}

			if (!isNaN(precio)) {
				var precioOriginal = (precio / 0.9).toFixed(2);
				document.getElementById('precio-destino').textContent = 'Precio: $' + precio;
				document.getElementById('precio-original').textContent = '$' + precioOriginal;
				document.getElementById('descuento-texto').textContent = '10% OFF';
				document.getElementById('amount').value = precio;
			};

			if (descripcion) {
				document.getElementById('descripcion').textContent = descripcion;
			}
		}
		function generarDescripcion(texto) {
			switch (texto) {
				case 'Coca Cola':
					return 'Coca Cola, la bebida refrescante favorita de todos. ¡Disfrútala fría!';
				case 'Gourmet':
					return 'Nuestros productos gourmet son seleccionados con los más altos estándares de calidad.';
				case 'Refrigerios':
					return 'Disfruta de nuestros deliciosos refrigerios, perfectos para cualquier ocasión.';
				case 'Raisin Bran':
					return 'Uno deliciosos cereales importados de inglaterra, ¡prueba nuevos sabores!';
				case 'Frutos secos':
					return 'Los frutos secos y deshidratados son una excelente opción para aquellos que buscan un snack saludable y lleno de nutrientes.';
				case 'Nescafe Café':
					return 'El mejor café de Colombia, disfrutalo para esas noches frias y despertarte en la mañana.';
				case 'Botana':
					return 'Un choque de sabores para tu pladar.<br> Ingredientes: Cacahutes, Frituras, Dulces a Granel, Desechables, Cabón, Papa Natural y Mucho más.';
				case 'Coctel de jabalí':
					return 'Es una bebida bastante equilibrada a pesar de combinar tantos destilados como el tequila, el gin, el vodka, el ron y el triple sec. Guarda cierto parecido con el Té Helado Long Island ';
				case 'Coctel Margarita':
					return 'Es un cóctel compuesto por tequila, triple seco y jugo de limón. A menudo se sirve con sal en el borde de la copa. La bebida se sirve sacudiendo el hielo (con hielo), mezclado con hielo (margarita frozen), o sin hielo (hacia arriba)..';
				case 'Halloumi Fries':
					return 'Se fabrica exclusivamente en Limasol, Chipre, utilizando métodos tradicionales chipriotas transmitidos de generación en generación que se combinan con los más altos estándares de cuidado y atención .';
				case 'Picada':
					return 'El Sabor de la casa lo consigues en esta deliciosa picada con carne lomo fino, pollo, salchicha, chorizo, papas, arepa, queso, vegetales y salsas de la casa.🥩 Que esperas para pedir la tuya!.';
				case 'McFlurry Oreo':
					return 'El inconfundible sabor de Oreo® no deja indiferente a nadie y es que los pequeños trozos de galletas de chocolate rellenas de crema junto con nuestra base de helado McFlurry®, son un acierto asegurado.Puedes combinarlo con sirope de chocolate, chocolate blanco o caramelo, a tu gusto. ¡Ninguna te dejara indiferente!.';
				case 'Helado':
					return 'Disfruta de exquisitos sabores de helado en Mc Donalds. En distintos sabores para tu paladar';
				case 'Frijoles MC':
					return 'Necesitas un almuerzo en Mc Donalds, se te ofrecen los Frijoles con el combo: arroz, pollo, papas fritas y gaseosa.';
				case 'Chorote Paisa':
					return 'Todo el fin de semana tenemos parrila!!! Ven a visitarnos, no te pierdas de nieatro delicioso sabor🥰.';
				case 'Hamburguesa':
					return 'Una buena hamburguesa en el popular Mc Donalds, es la base de la felicidad genuina.';
				case 'Galletas':
					return 'Que mejor manera de festejar la navidad, que unas buenas galletas!.';
				case 'Vino':
					return 'Para estas navidades que mejor que un buen Castillo del diablo, para deleitar tu paladar.';
				case 'Chocolatina':
					return 'Que mejor que un buen regalo, para festejar con los que quieres.';
				case 'Canasta Regalo':
					return 'Para esa persona especial, dale cariño con nuestra canasta de regalo le encatara!.';
				default:
					return 'Descripción no disponible.';
			}
		}
	</script>
	<!-- Importar el Menu /HTML -->
	<script>
		document.addEventListener("DOMContentLoaded", async () => {
			try {
				const response = await fetch("/whimcy/Views/Menu.php");
				if (!response.ok) throw new Error("Error al cargar Menu.php");

				const html = await response.text();
				document.querySelector(".header").innerHTML = html;
				
				// Activar scripts del menú
				if (typeof inicializarHeaderNav === "function") inicializarHeaderNav();
				if (typeof inicializarLogin === "function") inicializarLogin();
				setTimeout(() => {
					if (typeof StartCart === "function") StartCart();
				}, 200);

			} catch (err) {
				console.error(err);
			}
		});
	</script>
	<!-- Enlaces dinamicos/ Movil -->
	<script>
	function redirigirLogin(e) { 

        if (window.matchMedia("(max-width: 400px)").matches) {
			e.preventDefault();
            window.location.href = "Mobile/Inicio.php";
        } else {
            window.location.href = "login.html";
        }
    }
	</script>
	<!-- SweetAlert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="../JS/Alertas.js"></script>
</body>

</html>